.section-about {
  background-color: $color-grey-light-1;
  padding: 20rem 0;
  margin-top: -20vh;
  // margin-bottom: 20rem;
}

.temporary-padding {
  padding-bottom: 15rem;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, $light-green, $dark-green),
    url(../img/nat-4.jpg);

  background-size: cover;
  // height: 95vh;

  margin-top: -10rem;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  // clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 20rem 0 50rem 0;
  margin-top: -10rem;
}
